<div class="bootstrap-wrapper">

    <div class="container-fluid text-center">
        <h1>Developers</h1>

        <div class="col-md-4" style="margin-top: 20px;">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Dhruv Vinodbhai Patel</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://i.ibb.co/wy8nx7h/dhruv.jpg">
                <mat-card-content>
                    <p style="margin-top: 10px;">
                        Front end Developer
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">LinkedIn</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4" style="margin-top: 20px;">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Stavan Vishodhan Adhyaru</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://i.ibb.co/CPsL6f9/Stavan-1.jpg">
                <mat-card-content>
                    <p style="margin-top: 10px;">
                        Web and Mobile Application Developer
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">LinkedIn</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4" style="margin-top: 20px;">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Patricia Siuha Liu</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://i.ibb.co/khzLcdY/patricia.jpg">
                <mat-card-content>
                    <p style="margin-top: 10px;">
                        Full Stack Developer
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">LinkedIn</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4" style="margin-top: 20px;">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Akshay Mahadeo Gaikwad</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://i.ibb.co/mFSkF4W/Screenshot-2023-04-18-at-10-51-06-AM.png">
                <mat-card-content>
                    <p style="margin-top: 10px;">
                        Full Stack Developer
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">LinkedIn</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4" style="margin-top: 20px;">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Berk Karaimer</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://i.ibb.co/tBYnpBV/berk.jpg">
                <mat-card-content>
                    <p style="margin-top: 10px;">
                       Full Stack Developer
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">LinkedIn</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-md-4" style="margin-top: 20px;">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Eknoor Kaur</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="https://i.ibb.co/k56jrrZ/eknoor.jpg">
                <mat-card-content>
                    <p style="margin-top: 10px;">
                        Full Stack Developer
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">LinkedIn</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>

</div>